doctype html
html
head
    title= title
    link(rel='stylesheet', href='app.css')
body
    #header
    block content
    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js')
    script.
        require('application').init();
